@import "../../variables/variables.scss";

.footer-container {
  border-bottom: 1px solid $secondary-color;
  border-top: 1px solid $secondary-color;
  .footer-section {
    // gap: 8rem;
    border-bottom: 1px solid $secondary-color;
    border-top: 1px solid $secondary-color;

    .footer-section-item {
      padding: 0px 8rem;
      .email-text-box {
        height: 3rem;
        width: 15rem;
        display: flex;
        gap: 2.6rem;
        // justify-content: space-between;
        border-radius: 30px;
        input {
          margin-left: 1rem;
          margin-top: 0.3rem;
          border: none;
          height: 2.2rem;
          font-size: small;
          //   padding: 0px 0.5rem;
        }
      }
    }

    .footer-section-info {
      width: 10rem;
      height: 10rem;
      padding: 0px 7rem 0px 0px;
      p {
        font-size: x-small;
        padding: 0.5rem 0;
      }
      .social-icons {
        display: flex;
        gap: 1.5rem;
        padding: 0.4rem 0;
      }
    }
  }
}
.subcribe_button {
  // position: absolute;
  // margin-top: 0.2rem;
  border-radius: 50%;
  border: none;
  background: $primary-color;
  color: white;
  font-size: 1.2rem;
  width: 2.7rem;
  // right: 12.3rem;
  // z-index: 2;
  height: 2.5rem;
  //   padding: 0px 0.5rem;
}
.text-xs-center {
  text-align: start;
}
@media (max-width: 576px) {
  .text-xs-center {
    text-align: center !important;
  }
}
