@import "../../variables/variables.scss";
.homeSermonComponent {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homesermon-container {
max-width: 100% !important;
  height: 50vh;
  border-radius: 50rem !important;
  z-index: 1;
  background: transparent linear-gradient(91deg, #861626 0%, #f26522 100%) 0% 0%
    no-repeat padding-box;
  padding: 4rem 7rem !important;
}
.img-pastor {
  width: 16rem !important;
}
.homesermon-image {
  width: 20rem;
  //   left: 70rem;
  // bottom: -236.1rem;
  position: absolute;
  max-width: 100% !important;
  max-height: 100% !important;
  z-index: 2;
}
.sermonButton {
  color: white;
  background-color: transparent;
  transition: all 0.5s ease;
  width: 12rem;
  height: 4rem;
  &:hover {
    color: $primary-color;
    background-color: white;
  }
}


// RECENT SERMONS CCCSS


.home-recent-sermon-component{

  // height:100vh
}

.sermon-item-info{

  position: absolute;
    max-width: 100% !important;

        height: 6rem;
          padding: 4px;
    bottom: 0rem !important;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
   
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.sermon-item-container{
    width: 15rem;
      // height: 30vh;
        position: relative;
    // background-color: #861626;
    img{

      // max-height: 100% !important;
    }
}



@media #{$media-desktop-xxl} {
  .homesermon-image {
    width: 20rem;
    // left: 88rem;
    // bottom: -233.1rem;
    position: absolute;
    max-width: 100% !important;
    max-height: 100% !important;
    z-index: 2;
  }
}
@media only screen and (min-width: 1440px) {
  .homesermon-container {
    width: 75rem;
    /* height: 35vh; */
    border-radius: 50rem !important;
    z-index: 1;
    padding: 6rem 10rem !important;
  }
  .homesermon-image {
    width: 20rem;
    // left: 50rem;
    bottom: -260.1rem;
    // position: absolute;
    max-width: 100% !important;
    max-height: 100% !important;
    z-index: 2;
  }
}

@media #{$media-desktop} {
  .homesermon-container {
    width: 75rem;
    height: 35vh;
    border-radius: 50rem !important;
    z-index: 1;
    padding: 3rem 10rem !important;
  }
  .homesermon-image {
    width: 20rem;
    bottom: -283.1rem;
    max-width: 100% !important;
    max-height: 100% !important;
    z-index: 2;
  }
}
@media #{$media-tablet} {
  .homeSermonComponent {
    // height: 90vh;
    display: block;
    justify-content: none;
    align-items: none;
  }
  .homesermon-container {
  max-width: 100% !important;
    height: 35vh;
    border-radius: 0rem !important;
    padding: 4rem 0.5rem !important;
  }
  .img-pastor {
    display: none;
  }
}
@media #{$media-mobile-sm} {

.homeSermonComponent{
  height: 52vh !important;
}
  .sermon-item-container {
height:40vh !important;
  }

    .sermon-item-info{

          bottom:0.6rem !important;
    }
  .homesermon-container {
max-width: 100% !important;
    height: 46vh;
    border-radius: 0rem !important;
      padding: 3rem 0.5rem !important;
  }
  .sermonButton {
    width: 10rem;
  }
  .homesermon-image {
    display: none;
  }
}

@media #{$media-mobile-xsm} {
  .sermonButton {
    width: 10rem;
  }
  .homesermon-container {
    // width: 29rem;
    // height: 35vh;
    // border-radius: 0rem !important;
    // padding: 4rem 0.5rem !important ;
  }
  .homesermon-image {
    display: none;
  }
}
